ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = SampleApp/SampleApp.entitlements
ENABLE_HARDENED_RUNTIME = YES
ENABLE_PREVIEWS = YES
INFOPLIST_FILE = SampleApp/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.apple.feedback.SampleApp
PRODUCT_NAME = $(TARGET_NAME)
